* {
    margin: 0px; 
    padding: 0px;
    font-family: 'Hind Siliguri', sans-serif; 
    font-size: 10px;
}
.namePlate {
    grid-area: namePlate;
    background: salmon;
    text-align: center;
    padding: 20px;
    font-size: 5em;
}

.sectionTitle {
    grid-area: sectionTitle;
    background: lightblue;
    font-size: 1.5em;
}

.sectionOne {
    border: solid;
    border-bottom-style: none;
}

.sectionTwo {
    border: solid;
    border-top-style: none;
    
}

.sectionThree {
    border: solid;
    border-bottom-style: none;
}

.sectionFour {
    border: solid;
    border-top-style: none;
}

#mainContainer {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 7fr;
    grid-template-areas: 
    "namePlate namePlate namePlate namePlate namePlate namePlate namePlate namePlate"
    "sectionTitle . . . . . . ."
    "sectionTitle . . . . . . ."
    "sectionTitle . . . . . . .";
}

